.webcam-container {
  min-height: 30vh;
  width: 70vh;
  margin: 1rem;
  align-self: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin: 0.5rem;
}

.link:visited {
  color: black;
}

.link:hover {
  text-decoration: underline;
}

.text {
  margin: 3rem;
  align-self: center;
}
